@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

.cajaPrincipal{
  
    width: 100vw;
    height: 100vh;
    background-color: #537ec5;
}

/* Parte Superior */
.encabezado{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: #010038;
    
}

.logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo img{
    border-radius: 25%;
}
.buscador{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    border: none;
    /* height: 3rem; */
    background: #010038;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    outline: none;
    margin-left: 2%;
    
}


.input{
    border:none;
  
    outline:none;
    width: 50%;
    height: 30%;
    padding-left: 1.5%;
    background:rgb(211, 211, 211); 
    border-bottom:1px solid white;
    font-weight: bold;
    
}

.input:focus{
    background: rgb(165, 201, 255) ;
}


/* Contenido De los videos */
.contenido{
    display: flex;
    width: 100vw;
    height: 25vh;
    background: red;
}
.producirMusica{
    width: 75vw;
    height: 100%;
    background: green;
}

.colocarMusica{
    width: 25vw;
    height: 100%;
    background-color: #537ec5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elemento{

    width: 20%;
    margin: 2% ;
}
.elementoImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.seleccionMusica{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    background: white;
    overflow-y: scroll;
    
}